body {
  background-color: #ccc;
}

 a {
  text-decoration: none;
  color: #222
 }

/* NAV */
nav {
  display: flex;
  height: 40px;
  padding: 16px 150px;
  background-color: tomato;
  align-content: center;
  align-items: center;
}

nav b {
  font-size: 20px;
  color: wheat;
  margin-right: 10px;
}

nav a {
  padding: 10px;
  background-color: teal;
  color: white;
  margin-right: 10px;
  border-radius: 5px;
  text-decoration: none;
  
}

.container, .paging {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.prev, .next {
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  padding: 10px;
  margin: 5px;
}

.box {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.box {
  width: 300px;
}

.box img {
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(#000, 0.1);
}

.box:hover {
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.5s;
  transform: scale(1.05);
}

.box:not(:hover) {
  transition-timing-function: ease-in-out;
  transition-property: all;
  transition-duration: 0.5s;
}